/* Style */
body{
    font: 16px/28px gotham, sans-serif;
    background-image: url(img/paper_1.png);
    color: #333;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: salmon;
    border-bottom: 3px solid aquamarine;
    z-index: 99999;
}

.top-bar h5{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 20px;
    padding: 12px;
}

.container{
    width: 960px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}

.linkedin{
    width: 256px;
    height: 256px;
    background-image: url(img/Linkedin-icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: 0px;
    right: 1px;
}

.header{
    padding: 20px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.header a{
    text-decoration: none;
    color: crimson;
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header a:hover{
    background-color: crimson;
    color: whitesmoke;
    border-radius: 25px;
}

.hero{
    height: 500px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -100px ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2{
    font-size: 36px;
    font-weight: bold;
}

.main .penulis{
    font-size: 11px;
    margin-top: -5px;
}

.main .penulis a{
    color: crimson;
    text-decoration: none;
}


.main .penulis a:hover{
    background-color: crimson;
    color: whitesmoke;
}

.main p{
    margin-bottom: 20px;
    font-size: 13px;
    text-align: justify;
}

/* Sidebar */
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3{
    font-weight: bold;
    font-size: 24px;
    margin-left: 9px;
}


.sidebar img{
    margin-top: 10px;
    float : left;
    padding: 10px;
}

.sidebar p{
    margin-top: 15px;
    text-align: justify;
    font: 12px/18px gotham;
    margin-left: 10px;
}

.footer{
    background-color: #333;
    padding : 15px;
}

.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

/* Clearfix */

 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 .cf {
     *zoom: 1;
 }